############################
# NPM files
############################
**/node_modules
node_modules
miniprogram_npm
npm-debug.log*
.node_repl_history
.node_history
.lock-wscript
.npm
.nyc_output
upload.config.js
project.private.config.json
############################
# Temp files
############################
tramp
temp
tmp
.tmp
*.swo
*.swp
*.swn
*.swm
*.diff
*.log
*.patch
*.bak
*.iml
*.ipr
*.iws
*.out
*.gz
*#
*~
~*
.\#*
.cache
**/.cache
.wepycache


############################
# Editor & OS files
############################
.idea
.DS_STORE
.Trashes
.project
.rebooted
.*proj
Thumbs.db
ehthumbs.db
Icon?
nbproject
.cask/
.pydevproject
.settings/

/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
/eshell/history
/eshell/lastdir
/elpa/
/auto/
*_flymake.*
.org-id-locations
*_archive
.imdone


############################
# Report files
############################
coverages
coverage
reports
report
lib-cov
html-report
JSCover
nohup.out
out
logs
log
*.log
*.log.*


############################
# By Project
############################
pids
*.pid
*.rel
*.seed
.grunt
.svn
__pycache__/
*.py[cod]
*$py.class


############################
# Build
############################
dist
*_dist
qrcode.jpg

############################
# By vscode
############################
*.vscode